button,
.button {
	align-items: center;
	background: white;
	border-radius: $border-radius;
	border: none;
	color: black;
	cursor: pointer;
	display: inline-flex;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 500;
	justify-content: center;
	line-height: 1.4;
	padding: 8px 16px;
	transition: $transition;

	&:hover {
		opacity: 0.9;
		text-decoration: none;
	}

	@media (max-width: $mobile) {
		display: flex;
		font-size: 16px;
		padding: 12px 20px;
		width: 100%;
	}

	&.secondary {
		background: darken(white, 40%);
	}

	&.danger {
		background: $red;
		color: white;
	}

	&.warning {
		background: $yellow;
		color: black;
	}

	&:disabled {
		color: rgba(black, 0.5);
		cursor: default;

		&:hover {
			opacity: 1;
		}

		.icon-component {
			opacity: 0.5;
		}
	}

	.icon-component {
		margin-right: 6px;
		transition: $transition;
	}
}
