.notice {
	$padding: 5px;

	background: $elevation-2-color;
	font-size: 13px;
	padding: $padding;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3;

	@media (max-width: $tablet) {
		display: none;
	}

	.icon-component {
		cursor: pointer;
		opacity: 0.5;
		padding: $padding $padding * 2 $padding;
		position: absolute;
		right: 0;
		transition: $transition;
		top: 0;

		&:hover {
			opacity: 0.75;
		}
	}
}
