.select {
	position: relative;

	@media (max-width: $tablet) {
		width: 100%;
	}

	select {
		appearance: none;
		background: $elevation-4-color;
		border: none;
		border-radius: $border-radius;
		color: white;
		cursor: pointer;
		font-family: $font-family;
		font-weight: 500;
		padding: 8px 28px 8px 8px;
		transition: $transition;

		@media (max-width: $tablet) {
			font-size: 18px;
			padding: 15px;
			width: 100%;
		}

		&:hover {
			background: $elevation-5-color;
		}
	}

	label {
		font-size: 14px;
		left: 0;
		position: absolute;
		top: 0;
		transform: translateY(calc(-100% - 6px));

		@media (max-width: $tablet) {
			font-size: 16px;
		}
	}

	.icon-component {
		pointer-events: none;
		position: absolute;
		right: 4px;
		top: 50%;
		transform: translateY(-50%);
	}
}
