.text {
	align-items: center;
	display: flex;
	position: relative;

	@media (max-width: $tablet) {
		width: 100%;
	}

	input[type='text'] {
		appearance: none;
		background: $elevation-2-color;
		border: 2px solid $elevation-4-color;
		border-radius: $border-radius;
		color: white;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 500;
		padding: 7px 7px;
		transition: $transition;
		width: 100%;

		@media (max-width: $tablet) {
			font-size: 18px;
			font-weight: 400;
			padding: 16px 10px;
		}

		&:focus {
			background: $elevation-3-color;
		}
	}

	&.icon {
		.icon-component {
			left: 6px;
			opacity: 0.4;
			pointer-events: none;
			position: absolute;

			@media (max-width: $tablet) {
				left: 16px;
				top: 26px;
				transform: scale(1.25);
			}
		}

		input[type='text'] {
			padding-left: 30px;

			@media (max-width: $tablet) {
				padding-left: 45px;
			}
		}
	}
}
