footer {
	align-items: center;
	cursor: default;
	display: flex;
	justify-content: space-between;
	opacity: 0.35;
	padding: 50px 0 75px;
	text-align: center;
	transition: $transition;

	@media (max-width: $tablet) {
		flex-direction: column-reverse;
		font-size: 14px;
		padding: 30px 0 50px;

		> div:first-child {
			font-size: 12px;
			margin-top: 30px;
		}
	}

	&:hover {
		opacity: 0.85;
	}

	> div {
		align-items: center;
		display: flex;

		&:first-child a {
			margin-right: 0 !important;
		}
	}

	a {
		color: $text-color;
		text-decoration: none;
		transition: $transition;

		&:hover {
			opacity: 1;
			text-decoration: underline;
		}

		&:last-of-type {
			margin-right: 50px;

			@media (max-width: $tablet) {
				margin-right: 35px;
			}
		}

		+ a {
			margin-left: 50px;

			@media (max-width: $tablet) {
				margin-left: 35px;
			}
		}
	}
}
