/**
 *  Main SCSS file
 */

// Reset CSS, by Eric Meyer
@import './vendors/reset';

// Abstracts
@import './abstracts/variables';
@import './abstracts/mixins';

// Base
@import './base/base';
@import './base/transitions';
@import './base/typography';

// Components
@import './components/button';
@import './components/checkbox';
@import './components/notice';
@import './components/notification';
@import './components/select';
@import './components/table';
@import './components/text';
@import './components/textarea';
@import './components/tooltips';

// Layout
@import './layout/container';
@import './layout/footer';
@import './layout/header';
@import './layout/main';
